<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Chat</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/chat.css">
</head>
<body>
    <nav>
        <div id="currentUser">
            <img src="/placeHolders/Owen Icon.png" alt="User Img">
            <h3>User Name</h3>
        </div>
        <div id="navButtons">
            <input type="text" placeholder="Search">
            <a class="button" href="/"><img class="icon" src="/Icons/svgs/solid/house.svg"> Home</a>
            <a class="button" href="/profile"><img class="icon" src="/Icons/svgs/solid/user.svg"> Profile</a>
            <a class="button" href="/survey"><img class="icon" src="/Icons/svgs/solid/clipboard.svg"> Survey</a>
            <a class="button" href="/prayerwall"><img class="icon" src="/Icons/svgs/solid/thumbtack.svg"> Prayer Wall</a>
            <a class="button" href="/chat"><img class="icon" src="/Icons/svgs/solid/comment.svg"> Chat</a>
            <a class="button" href="/calendar"><img class="icon" src="/Icons/svgs/solid/calendar.svg"> Calendar</a>
            <a class="button" href="/adminPanel">adminPanel</a>
        </div>
        <div id="orgImage">
            <img src="https://www.iconpacks.net/free-icon/user-3296.html" alt="org Img">
        </div>
    </nav>

    <!-- <h1>Chat</h1>
    <p>Welcome to the Chat page.</p> -->

    <div id="main">
        <div id="threadList">
            <button class="threadOption">
                <img src="/placeHolders/blank-profile-picture-973460_960_720.webp" alt="Thread image">
                <p>Thread 1</p>
            </button>

            <button class="threadOption">
                <img src="/placeHolders/blank-profile-picture-973460_960_720.webp" alt="Thread image">
                <p>Thread 2</p>
            </button>

            <button class="threadOption">
                <img src="/placeHolders/blank-profile-picture-973460_960_720.webp" alt="Thread image">
                <p>Thread 3</p>
            </button>
        </div>

        <div id="divider"></div>

        <div id="threadDisplay">
            
        </div>
    </div>

    
</body>
</html>