<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Chat</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/chat.css">
</head>
<body>
    <nav>
        <div id="currentUser">
            <% if (user && user.profile_picture != "") {%>
                <img src="<%= user.profile_picture %>" alt="User Img">
                <h3><%= user.username %></h3>
            <% } else if (user) {%>
                <img src="/uploads/default-profile.png" alt="User Img">
                <h3><%= user.username %></h3>
            <% } else { %>
                <img src="/uploads/default-profile.png" alt="User Img">
                <h3></h3>
            <% } %>
        </div>
        <div id="navButtons">
            <a class="button" href="/"><img class="icon" src="/Icons/svgs/solid/house.svg"> Home</a>
            <a class="button" href="/profile"><img class="icon" src="/Icons/svgs/solid/user.svg"> Profile</a>
            <a class="button" href="/survey"><img class="icon" src="/Icons/svgs/solid/clipboard.svg"> Survey</a>
            <a class="button" href="/prayerwall"><img class="icon" src="/Icons/svgs/solid/thumbtack.svg"> Prayer Wall</a>
            <a class="button" id="currentPageButton" href="/chat"><img class="icon" src="/Icons/svgs/solid/comment.svg"> Chat</a>
            <a class="button" href="/calendar"><img class="icon" src="/Icons/svgs/solid/calendar.svg"> Calendar</a>
            <% if (user && user.role === 'admin') { %>
                <a class="button" href="/adminPanel">adminPanel</a>
            <% } %>
            <a class="button" href="/logout">Logout</a>
            
        </div>
    </nav>

    <!-- <h1>Chat</h1>
    <p>Welcome to the Chat page.</p> -->

    <div id="main">
        <% if (user && (user.role === 'admin' || user.role === 'staff')) { %>
            <button id="makeThread">Change Threads</button>
        <% } %>

        <div id="threadList">
            <% if (threads && threads.length > 0) { %>
                <form action="/loadThread" method="GET">
                <% threads.forEach(thread => { %>
                    <button class="threadOption">
                        <p><%= thread.name %></p>
                    </button>
                <% }) %>
                </form>
            <% } else { %>
                <p>There are no available threads at this time</p>
            <% } %>
        </div>

        <div id="divider"></div>

        <div id="threadDisplay">
            <div id="changeThreads" class="form-container" style="display: none;">
                <h2>Create a new Discussion Thread</h2>
                <form action="/createThread" method="POST">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>

                    <br>

                    <label for="desc">Description:</label>
                    <textarea name="desc" id="desc" rows="4" required></textarea>

                    <button type="submit">Create New Thread</button>
                </form>

                <h2>Delete a Thread</h2>
                <form action="/deleteThread" method="POST">
                    <label for="deleteOne">Input a thread name:</label>
                    <input type="text" id="deleteOne" name="deleteOne" required>

                    <label for="deleteTwo">Input the same thread name:</label>
                    <input type="text" id="deleteTwo" name="deleteTwo" required>

                    <button type="submit">Delete Thread</button>
                </form>
            </div>
            <h1>Click on a thread to enter a discussion room</h1>
        </div>

    </div>

    <script>
        document.getElementById("makeThread").addEventListener("click", () => {
        const formContainer = document.getElementById("changeThreads");
        const button = document.getElementById("makeThread");

        // Toggle form visibility
        if (formContainer.style.display === "none") {
            formContainer.style.display = "block";
            button.innerText = "Stop Changing Threads"
        } else {
            formContainer.style.display = "none";
            button.innerText = "Change Threads"
        }
        });
    </script>
    
</body>
</html>