<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <nav>
        <div id="currentUser">
            <img src="/placeHolders/Owen Icon.png" alt="User Img">
            <h3>User Name</h3>
        </div>
        <div id="navButtons">
            <input type="text" placeholder="Search">
            <a class="button" href="/"><img class="icon" src="/Icons/svgs/solid/house.svg"> Home</a>
            <a class="button" href="/profile"><img class="icon" src="/Icons/svgs/solid/user.svg"> Profile</a>
            <a class="button" href="/survey"><img class="icon" src="/Icons/svgs/solid/clipboard.svg"> Survey</a>
            <a class="button" href="/prayerwall"><img class="icon" src="/Icons/svgs/solid/thumbtack.svg"> Prayer Wall</a>
            <a class="button" href="/chat"><img class="icon" src="/Icons/svgs/solid/comment.svg"> Chat</a>
            <a class="button" href="/calendar"><img class="icon" src="/Icons/svgs/solid/calendar.svg"> Calendar</a>
        </div>
        <div id="orgImage">
            <img src="https://www.iconpacks.net/free-icon/user-3296.html" alt="org Img">
        </div>
    </nav>

    <br>
    <h1>Welcome to Ministry Meetup!</h1>
    <br>

    <div id="what">
        <img class="image" src="/placeHolders/Image-Placeholder-Dark.png" alt="">
        <div>
            <h2>What is Ministry Meetup?</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et dignissimos praesentium vitae quaerat similique magnam vero earum enim, expedita exercitationem eius, qui accusamus aliquam laudantium nihil provident quisquam accusantium tempora.</p>
        </div>
    </div>

    <div id="who">
        <div>
            <h2>Who are we?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint commodi, id architecto voluptatem temporibus explicabo, placeat ut blanditiis quos dolore sunt dolorem! Quasi est repellendus minima similique totam voluptates officia.</p>
        </div>
        <img class="image" src="/placeHolders/Image-Placeholder-Dark.png" alt="">
    </div>

    <br>
    <br>

    <footer>
        footer stuff
    </footer>
</body>
</html>