<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <title>Survey</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/survey.css">
</head>
<body>
    <nav>
        <div id="currentUser">
            <% if (user && user.profile_picture != "") {%>
                <img src="<%= user.profile_picture %>" alt="User Img">
                <h3><%= user.username %></h3>
            <% } else if (user) {%>
                <img src="/uploads/default-profile.png" alt="User Img">
                <h3><%= user.username %></h3>
            <% } else { %>
                <img src="/uploads/default-profile.png" alt="User Img">
                <h3></h3>
            <% } %>
        </div>
        <div id="navButtons">
            <a class="button" href="/"><img class="icon" src="/Icons/svgs/solid/house.svg"> Home</a>
            <a class="button" href="/profile"><img class="icon" src="/Icons/svgs/solid/user.svg"> Profile</a>
            <a class="button" id="currentPageButton" href="/survey"><img class="icon" src="/Icons/svgs/solid/clipboard.svg"> Survey</a>
            <a class="button" href="/prayerwall"><img class="icon" src="/Icons/svgs/solid/thumbtack.svg"> Prayer Wall</a>
            <a class="button" href="/chat"><img class="icon" src="/Icons/svgs/solid/comment.svg"> Chat</a>
            <a class="button" href="/calendar"><img class="icon" src="/Icons/svgs/solid/calendar.svg"> Calendar</a>
            <% if (user && user.role === 'admin') { %>
                <a class="button" href="/adminPanel">adminPanel</a>
            <% } %>
            <a class="button" href="/logout">Logout</a>
            
        </div>
    </nav>
    
    <h1>Create a Survey</h1>
    <!-- <button
        id="togglePrayerForm"
        style="background-color: #2d572c; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; margin-bottom: 10px;"
        >
        Pin A Prayer
    </button> -->

    <!-- Prayer Request Form (Hidden by Default) -->
    <div class="add-button">
        <h1>Add Question:</h1>
        <button class="btn submit-btn">Short</button>
        <button class="btn submit-btn">Long</button>
        <button class="btn submit-btn">Select</button>
        <button class="btn submit-btn">Check</button>
    </div>

    <div id="surveyCreateForm" class="form-container" style="display: inherit;">
        <h2>Create a survey</h2>
        <form action="/PrayerWall" method="POST" enctype="multipart/form-data" class="prayer-form">
            <div class="form-group">
                <label for="questionText" class="form-label">Question</label>
                <div class="input-box">
                    <input type="text" id="questionText" name="questionText" required class="form-input" />
                </div>
            </div>

            <div class="form-group">
                <label for="tyle" class="form-label">Question Type:</label>
                <select id="tyle" name="tyle" class="form-input">
                    <option value="short">Short Answer</option>
                    <option value="long">Long Answer</option>
                    <option value="bubble">Select One</option>
                    <option value="checkBox">Checkboxes</option>
                </select>   
            </div>
            <button type="submit" class="btn submit-btn">Choose</button>             
        
            <div class="form-group">
                <label for="description" class="form-label">Description:</label>
                <div class="input-box">
                    <textarea id="description" name="description" rows="4" required class="form-input"></textarea>
                </div>
            </div>
        
            <button type="submit" class="btn submit-btn">Submit Prayer Request</button>
        </form>
    </div>

</body>
</html>