body {
    font-family: "lato", serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15px;
}
.icon {
    height: 12px;
}

/* ------- Navigation Bar ------- */
nav {
    height: 80px;
    position: static;
    top: 0;
    display: flex;
    justify-content: space-between;

    font-weight: normal;
    background-image: linear-gradient(to right, rgb(175, 235, 141)
    , rgb(25, 199, 62));
}
#currentUser, #orgImage {
    background-color: rgb(55, 71, 61);
    padding: 20px;
    width: auto;
}
#navButtons {
    flex-grow: 1;

    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav input {
    background-color: white;
    border: 5px, solid, white;
    border-radius: 5px;
    flex-grow: 0.5;
}
.button {
    background-color: white;
    border: 5px, solid, white;
    border-radius: 5px;
    padding: 5px;
}
.button:hover {
    opacity: 0.5;
    border: 5px, solid, black;
}

nav a {
    color: black;
    text-decoration: none;
}

/* --- UserTopLeft --- */
#currentUser img {
    width: 100px;
    /* clip-path: circle(); */
    border: 10px, solid, rgb(55, 71, 61);
    border-radius: 50%;
}
#currentUser p {
    width: 100px;
    font-weight: 900;
    font-size: 20px;
    text-wrap: wrap;
    margin-top: 0;
    padding-top: 0;
    padding: 10px;
    /* text-align: center; */
}
