form {
    display: block;
    background-color: white;
    border: solid, 5px, rgb(101, 138, 80);
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    padding-bottom: 30px;
}

.add-question {
    position: static;
    background-color: white;
    padding: 30px;
    padding-top: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}